body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rebeccapurple;
  }
 
  header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(214, 170, 255);
    padding: 10px 0;
    text-align:center;
    background-color: rgb(143, 120, 173);
  }
  
  h1 {
    margin: 0;
  }
  h2{
    color:rgb(188, 182, 191);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  main {
    margin-top: 20px;
  }
  
  p {
    line-height: 1.5;
    color:rgb(245, 237, 249);
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
  }
  
  article{
    color:rgb(173, 173, 173);

  }
  footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #cf2828;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(214, 170, 255);
    font-size: larger;
  }
  
  img{
    width: 170px;
    border-radius: 20px;
    height: 190px;
    margin-top:20px;
  }

  a{
    color:rgb(211, 199, 199);
    
  }

  a:hover{
    color:darkblue;
    background-color: rgb(210, 120, 120);
    font-weight: bold;
  }

  ul,ol{
    color:antiquewhite
  }

  /* Styles for all screens */
body {
  font-size: 16px;
  margin: 0;
}

/* Styles for screens less than 768px wide */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .content {
    width: 100%;
  }
}

.space{
  color:rgb(191, 169, 169);
  margin-top :10px;
  margin-bottom :10px;
  text-align: center;
}

.newButton{
  color:purple;
  background-color: rgb(210, 159, 231);
}

.Functionality{
   color:rgb(209, 178, 243);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}